.full-body {
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin-left: 5%;
    margin-right: 5%;
}

.activity-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.timing-side {
    display: sticky;
    top: 0;
}