.full-body {

    display: grid;
    grid-template-columns: 5fr 2fr;
    margin-left: 5%;
    margin-right: 5%;
}

.activity-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 15px;
    border-radius: 5px;
}

.timing-side {
    display: sticky;
    top: 0;
    box-shadow: 3px 3px 7px pink;
    background-color: rgb(180, 163, 163);
    padding-right: 15px;
    padding-top: 15px;
}

@media only screen and (max-width:575px) {
    .full-body {
        display: grid;
        grid-template-columns: repeat(1fr);
    }

    .activity-side {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .timing-side {
        position: relative;
        bottom: 0;
    }
}

@media only screen and (min-width:576px) and (max-width: 920px) {
    .activity-side {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


}