.activity {
    margin-top: 40px;
}

.activity img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: 1px solid gray;
}

.activity-item {
    padding-left: 10px;
}

.btn-list {
    width: 100%;
    background-color: blueviolet;
    border: none;
    margin-right: 50%;
    color: white;
    border-radius: 10px;
}

.btn-list:hover {
    background-color: olivedrab;
}